[submodule "godot-cpp"]
	path = godot-cpp
	url = https://github.com/godotengine/godot-cpp
[submodule "vodozemac-ffi"]
	path = vodozemac-ffi
	url = https://github.com/matrix-org/vodozemac-bindings.git
